.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .sign-up-container {
    padding: 0 30px;
  }

  .sign-up-container .buttons-container button {
    margin: 0 1.5px 25px 1.5px;
  }
}
