.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .category-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}
